	<div class="hf">
		<a href="https://www.facebook.com/cognitio.me.nitjsr/">
			<img  data-aos='fade-right' class='follow' 
			src="https://image.flaticon.com/icons/svg/145/145802.svg">
		</a>		
		<a href="mailto:cognitio.me@nitjsr.ac.in?Subject=Regarding%20Cognitio">
			<img data-aos='fade-up' class='follow' 
			src="https://image.flaticon.com/icons/svg/281/281769.svg">
		</a>
		<a href="tel:+918862927236">
			<img data-aos='fade-down' class='follow' 
			src="https://image.flaticon.com/icons/svg/273/273501.svg">
		</a>
		<a href="https://www.instagram.com/cognitio_nitjsr/">
			<img data-aos='fade-left' class='follow' 
			src="https://image.flaticon.com/icons/svg/2111/2111463.svg">
		</a>
	</div>