		<hr style='border-bottom:solid 1px rgba(0,0,0, 0.5);'>
		<div class="container-fluid">
		  	<div class="row bottom">
			    <div class="col-md">
			      Organised By:<br>
			      <h5>Mechanical Engineering Department, <a href='http://www.nitjsr.ac.in/'>N.I.T. Jamshedpur</a></h5>
			    </div>
			    <div class="col-md">
				    Contact Us:<br><a href="tel:+918862927236">
				    <img class='social' src="https://image.flaticon.com/icons/svg/273/273501.svg">
				    Sudhanshu Praksh <br>( President )</a>
			    </div>
		  	</div>
		</div>			
	</div>
	</div>
	<div style='width:100%; font-size:15px; text-align-text:center; color:white;'>COGNITIO '20</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script type="text/javascript" src='scripts/script.js'></script>
	<script type="text/javascript" src='scripts/animation.js'></script>
</body>
</html>