<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cuprum:400,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/animation.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/ss2.css">
</head>
<body  style="font-family: 'Manjari', sans-serif;">
	<div id='body'>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-sm-smart fixed-top">
		<a id='navbar-brand' class="navbar-brand order-1 order-lg-0 my-lg-0 ml-sm-2 mr-auto" href="#"> </a>
		  <button id='navbar-toggler' class="navbar-toggler align-self-start" type="button">
		    <div data-aos='zoom-in' class="cross" onclick="myFunction(this)">
			  <div class="bar1"></div>
			  <div class="bar2"></div>
			  <div class="bar3"></div>
			</div>
		  </button>
		  <div class="collapse navbar-collapse d-flex flex-column bg-dark 
		  flex-lg-row flex-xl-row justify-content-lg-end p-3 p-lg-0 mt-lg-0 mobileMenu" id="navbarSupportedContent">

		    <ul class="navbar-nav align-self-stretch">
		      <li class="nav-item active">
		        <a class="nav-link" href="/">
		        	<img src='https://image.flaticon.com/icons/svg/189/189083.svg'> Home
		        </a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/events">
		        	<img src='https://image.flaticon.com/icons/svg/1142/1142792.svg'> Events
		        </a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/guests">
		        	<img src='https://image.flaticon.com/icons/svg/1911/1911705.svg'> Guests
		        </a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/team">
		        	<img src='https://image.flaticon.com/icons/svg/1534/1534959.svg'> Team
		        </a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/gallery">
		        	<img src='https://svgshare.com/i/GzW.svg'> Gallery
		        </a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/sponsors">
		        	<img src="https://image.flaticon.com/icons/svg/1616/1616039.svg"> Sponsors
		        </a>
		      </li>
		      <li class='nav-item nav-link links'>
		      	<a href='https://www.facebook.com/cognitio.me.nitjsr/'>
		      		<img class='social' src="https://image.flaticon.com/icons/svg/145/145802.svg">
		      	</a>
				<a href='https://www.instagram.com/cognitio_nitjsr/'>
					<img class='social' src="https://image.flaticon.com/icons/svg/2111/2111463.svg">
				</a>
				<a href='mailto:cognitio.me@nitjsr.ac.in?Subject=Regarding%20Cognitio'>
					<img class='social' src="https://image.flaticon.com/icons/svg/281/281769.svg">
				</a>
				<a href="https://play.google.com/store/apps/details?id=in.nitjsr.cognitio">
					<img class='social' src='https://image.flaticon.com/icons/svg/300/300218.svg'>
				</a>
		      </li>
		    </ul>
	  </div>
	</nav>