<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cuprum:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/animation.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/ss2.css">
</head>
<style>
  body{
    background: #734b6d; /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #734b6d, #42275a);   /*Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
</style>
<body  style="font-family: 'Manjari', sans-serif;">
<div id='content'>
    		<img src="stylesheets/guest_lecture.jpg"
		style='max-width:90%; margin:52px auto 0;'>
		<h1 class="text-center display-6">Guests</h1>
		<div class='container'>
		  <div class='previous_guests'>

                  <div class="row">
                <div class="col-5">
                  <img style='width:100%;' src='stylesheets/rohit saini.jpg'>
                </div>
                <div style='text-align:left;' class="col-7">
                  <strong>Rohit Saini</strong><br>
                  <em>Plant Manager, Tata Autocomponents Systems Ltd</em>
                  <br>H.O.D. for Heavy Duty Press Shop & Body Shop.
                </div>
             </div>
             <div class="row">
                <div style='text-align:left;' class="col-7">
                  <strong>Manas Mishra</strong><br>
                  <em>GM at Tata Motors Ltd</em>
                  <br>Project Planning & New vehicle Productionization.
                </div>
                <div class="col-5">
                  <img style='width:100%;' src='stylesheets/manasmishra-001.jpg'>
                </div>
             </div>
		</div>
		</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script type="text/javascript" src='scripts/script.js'></script>
