<% include partials/header %>
<title>COGNITIO | Events</title>
 <meta name="theme-color" content="#f8e5ee">
		<img class='header header-pc header-mobile' src="https://i.ibb.co/nR1bWjg/ev.jpg">
<% include partials/follow %>
<div id='content'>
	<div class='container'>
		<div class='item radiation animatable fadeInUp'>
			<img src="stylesheets/Events/radiation.jpg">
			<h4 class='text-center'>Radiation</h4>
			<a class='btn btn-info btn-md know-more'>Know More</a>
			<div class='visible'>Since the invention of the steam engine kicked off the Industrial Revolution, our planet has
			suffered rapid changes in climate and these changes may prove to be irreversible unless we intervene. Green 
			technology offers us the best hope to counteract the effects of climatic change and pollution. Intensified 
			theoretical study followed by feasibility analysis on practical grounds is essential to come up with appropriate
			solutions for environmental issues. The event deals with study of prescribed environmental problems and 
			communication of the solution to the judging panel through PowerPoint presentation.<br>
			<h4>PRIZE AND REWARD: Rs.9000/-<br>
			Also top 7 teams will get an opportunity of INDUSTRIAL VISIT.
			</h4>
			<h5>Details and Rules of the Event</h5>
			Number of students in a team: 2<br>
			<strong>Round 1</strong>:
			Abstract submission describing your study on one of the prescribed topics. Word limit for the same is 200-250 words. Strictly adhere to the word limit.
			Abstract should comprise of the following details: Team name, Team members’ name, Institute name (school name in case of school students) & roll no.
			Abstract has to be mailed to <a href='mailto:cognitio.radiation@gmail.com'>cognitio.radiation@gmail.com</a> with ‘Team Name’ as its subject. <br>
			<strong>Round 2</strong>: 
			Selected students will have to give PowerPoint presentation on their topic. No. of slides should not exceed 12.
			<h5>EVENT HEADS</h5>
			<img class='social' src="https://svgshare.com/i/GyJ.svg">
				    <a href="tel:+919424912787">Srijan Pandey</a> , <a href="tel:+917667511947">Subhashish Kar</a>
			</div>
		</div>

		<div class='item assemblage animatable fadeInUp'>
			<img src="stylesheets/Events/assemblage.jpg">
			<h4 class='text-center'>Assemblage</h4>
			<a class='btn btn-info btn-md know-more'>Know More</a>
			<div class='visible'>Strength of mechanical models and engineering structures is an important area of study and 
			experimentation. Concept and principles dealing with truss systems, beam loadings, stress-strain calculation and 
			representation are imperative for evaluating the failure point of structures. Also, the knowledge of material 
			science and vibration is essential to understand the mechanical behaviour and dynamics of system under consideration.
			This event deals with fabrication of a bridge model and its strength testing using varied type of loads.
			<h4>PRIZE WORTH: Rs. 6000/-</h4>
			<h5>Details and Rules of the Event</h5>
			•	Number of students in a team: 3<br>
			•	The team has to construct a bridge model<br>
			•	Required materials will be provided on-spot<br>
			•	The structure will be tested under loads of different nature and value and corresponding points will be awarded. <br>
			<strong>Round 1</strong>: Written test on related concepts. <br>
			<strong>Round 2</strong>: Conceptual Design submission, Bridge Model construction, Strength Testing. <br>
			<h5>Event Heads</h5>
			<img class='social' src="https://svgshare.com/i/GyJ.svg">
				    <a href="tel:+918789573873">Rishabh Gupta</a> , <a href="tel:+917979888810">Shubham Prakash</a> , 
				    <a href="tel:+917903094613">Abhinash Raj</a> , <a href="tel:+918921467997">Amar Gaikwad</a>
			</div>
		</div>
		<div class='item tie-the_knot animatable fadeInUp'>
			<img src="stylesheets/Events/tietheknot.jpg">
			<h4 class='text-center'>Tie The Knot</h4>
			<a class='btn btn-info btn-md know-more'>Know More</a>
			<div class='visible'>Hearing the word startup scintillates the mind of millions, but the most difficult part of starting
			up is starting out. Here is an opportunity to TIE the KNOT and immerse in the crazy world of entrepreneurship. 
			Innovative solution to real time problem can lead to a Startup if the idea is nurtured on grounds of dynamic 
			market function and demand. This event deals with designing mechanisms to perform prescribed tasks and present
			a business plan to the judging panel. Showcase how a mechanical solution can transform into a successful industry.<br>
			<h4>PRIZE WORTH: Rs. 4500/-</h4>
			<h5>Details and Rules of the Event</h5>
			•	Number of students in a team: 2<br>
			<strong>Round 1</strong>: Online submission of Executive Summary of a mechanical solution to a relevant existing real world problem in 250-300 words. <br>
			<strong>Round 2</strong>: Video submission explaining why the problem you have taken up is important and how your solution is the best way to deal with it. Other details regarding video specifications will be conveyed later. <br>
			<strong>Round 3</strong>: Presentation of Business Plan in front of Judges Panel to show the analysis of market and the study of various parameters essential for transforming your solution into commercial manufacturing. <br>
			<h5>EVENT HEADS</h5>
			<img class='social' src="https://svgshare.com/i/GyJ.svg">
				    <a href="tel:+917004924538">Ayush Kumar</a> , <a href="tel:+917903489465">Shatanik Bose</a> , 
				    <a href="tel:+917903197952">Himanshu Ranjan</a>
			</div>
		</div><div class='item battle_of_bureaucrats animatable fadeInUp'>
			<img src="stylesheets/Events/battleofbureaucrats.jpg">
			<h4 class='text-center'>Battle of Bureaucrats</h4>
			<a class='btn btn-info btn-md know-more'>Know More</a>
			<div class='visible'>Bureaucracy is the permanent Executive branch of the Republic of India.Civil Servants in India 
			are the unsung heroes of Indian Federal System from Secretaries in Govt. Of India to the betwixt amidst the citizens 
			and the government.And thus,rightly quoted as the backbone of administrative machinery in the country. 
			This event goes for a check over the proficiency of a paticular and the qualities requisite to etch herself/himself 
			as bureaucrats in the Steel Frame of the Nation.
			<h4>PRIZE WORTH: Rs. 3000/-</h4>
			<h5>Details and Rules of the Event</h5>
			•	Students need to participate individually<br>
			•	Students of first years will be rewarded (1.25x) of their score in Round-1<br>
			<strong>Round 1</strong>: Pen paper based objective preliminary test. <br>
			<strong>Round 2</strong>: Pen paper based descriptive writing on current social and geo-political issues.<br>
			<strong>Round 3</strong>: Personality Test. <br>
			<em>Note: The entire event will comprise of subjects like General Studies,General Science and Current Affairs.The 
			scores of all <strong>THREE</strong> rounds will be taken into consideration for finalizing the result.</em>
			<h5>Event Heads</h5>
			<img class='social' src="https://svgshare.com/i/GyJ.svg">
				    <a href="tel:+917070300444">Abhishek Anand</a> , <a href="tel:+917519940219">Siddhartha Berlia</a> , 
				    <a href="tel:+917004769171">Md. Jilani</a>
			</div>
		</div>
		<div class='item wit_to_veto animatable fadeInUp'>
			<img src="stylesheets/Events/vitToVeto.jpg">
			<h4 class='text-center'>Wit To Veto</h4>
			<a class='btn btn-info btn-md know-more'>Know More</a>
			<div class='visible'> Ability to analyse problems by connecting strands of events defines a noetic personality. 
			Case Study is a research, strategy and an empirical inquiry that investigates an event. It is a descriptive and 
			exploratory analysis of a situation which is based on an in-depth investigation of the event to explore the 
			causes of its outcomes. The research relies on multiple sources of evidence and benefits from the prior development
			of theoretical propositions which helps in predicting the most favorable result.<br>
			<h4>PRIZE WORTH: Rs. 3000/-</h4>
			<h5>Details and Rules of the Event</h5>
			•	Students need to participate individually<br>
			•	Case Group Discussion will be structured and unstructured both<br>
			<strong>Round 1</strong>: Pen paper based puzzles.(Eliminating round) <br>
			<strong>Round 2</strong>:Pen paper based Guesstimates involving descriptive analysis of case problems.(Eliminating round) <br>
			<strong>Round 3</strong>:Case study group discussion on real time Industrial problems. <br>
			<h5>EVENT HEADS</h5>
			<img class='social' src="https://svgshare.com/i/GyJ.svg">
				    <a href="tel:+918179132796">Sai Sudarshan</a> , <a href="tel:+919431732061">Krishna Mohan</a> , 
				    <a href="tel:+917209669436">Pranav Praksh</a>
		</div>
		</div>
		<div class='item conundrum animatable fadeInUp'>
			<img src="stylesheets/Events/conundrum.jpg">
			<h4 class='text-center'>Conundrum</h4>
			<a class='btn btn-info btn-md know-more'>Know More</a>
			<div class='visible'>With the advent of Make in India, industries are transforming to a new generation. This
			advancement demands the engineers to showcase their skills and prove their mettle. Deep insights of engineering
			concepts/principles create an incision on our mind. The CONUNDRUM deals with understanding of core mechanical 
			and manufacturing discipline with primary focus on expertise in problem solving, technical terms and ability to
			explain what you perceive. Let your grey cells encounter this mechanical CONUNDRUM.<br>
			<h4>PRIZE WORTH: Rs. 4500/-</h4>
			<h5>Details and Rules of the Event</h5>
			•	Number of students in a team: 2<br>
			•	Members in a team must be from the same year.<br>
			•	The year and class of study of students will be taken into consideration<br>
			<strong>Round 1</strong>: Crossword puzzles and fill in the blanks.<br>
			<strong>Round 2</strong>: MCQs and Subjective questions to check the engineering aptitude and critical thinking of the participants on core subjects.<br>
			<strong>Round 3</strong>: Personal Interview (Technical).<br>
			<h5>EVENT HEADS</h5>
			<img class='social' src="https://svgshare.com/i/GyJ.svg">
				    <a href="tel:+919470104030">Nihal Kumar</a> , <a href="tel:+918539984720">Arvind Singh</a> , 
				    <a href="tel:+917631122664">Vivek Thakur</a> , <a href="tel:+919128254536">Manoranjan Mishra</a> , 
				    <a href="tel:+918210842932">Sumit Vishwakarma</a>
				    
			</div>
		</div>
		<div class='item kalaam_e_kalam animatable fadeInUp'>
			<img src="stylesheets/Events/kalaamekalam.jpg">
			<h4 class='text-center'>Kalaam-E-Kalam</h4>
			<a class='btn btn-info btn-md know-more'>Know More</a>
			<div class='visible'>Literature is an important part of the life of almost every individual.It is a torch bearer
			that has helped civilizations to overcome the darkness of savagery.At present our lives are progressing at a very
			high speed and hence people hardly find time to relax. It can always help us in some way or other to deal with 
			things or to understand this world better. So through this event you can express your views, your thinking, your 
			ideas by writing poems, short stories, shayaries etc. followed by a brief presentation.There is no specific theme 
			for that but if it is related to patriotism,environmental issues ,general issues like mob lynching etc.then it will be more preferred. <br>
			<h4>PRIZE WORTH: Rs.  3000/-</h4>
			<h5>Details and Rules of the Event</h5>
			•	Number of students in a team: 1<br>
			<strong>Round 1</strong>:  Theme submission including brief description.<br>
			<strong>Round 2</strong>:   Presentation.<br>
			<h5>EVENT HEADS</h5>
			<img class='social' src="https://svgshare.com/i/GyJ.svg">
				    <a href="tel:+917979883562">Manoranjan Mishra</a> , <a href="tel:+917004769171">Md. Jilani</a>
		</div>
		</div>
		<div class='item shoot_at_sight animatable fadeInUp'>
			<img src="stylesheets/Events/shootatsight.jpg">
			<h4 class='text-center'>Shoot at Sight</h4>
			<a class='btn btn-info btn-md know-more'>Know More</a>
			<div class='visible'>Propulsion systems are highly powerful driving technologies enabling the physical essence of 
			distant places. The event deals with water propulsion system in rocket technology resulting in a working prototype 
			showcasing the application of physical concepts. Put all your concepts of kinematics, aerodynamics & hydraulics to 
			build a Water Rocket that covers maximum Range and hit the most valuable target to score the maximum.<br>
			<h4>PRIZE WORTH: Rs. 5500/-</h4>
			<h5>Details and Rules of the Event</h5>
			•	Number of students in a team: 3<br>
			•	Materials required to build Water Rocket will be provided during the event.<br>
			•	The team members will have to launch their Water Rocket themselves under the supervision of the event coordinators.<br>
			<strong>Round 1</strong>: Written Test involving related physical concepts.<br>
			<strong>Round 2</strong>: Model making followed by Field launching.<br>
			•	The hitting area consists of several circles of varied diameters and assigned values.<br>
			•	The values corresponding to the circle hit by the rocket will be awarded as points in addition to the points earned on range covered.<br>
			<h5>EVENT HEADS</h5>
			<img class='social' src="https://svgshare.com/i/GyJ.svg">
				    <a href="tel:+917903561312">Purushottam Kumar</a> , <a href="tel:+917979756504">Rahul Kumar</a> , 
				    <a href="tel:+918789573873">Rishabh Gupta</a>
			</div>
		</div>
		
		<div class='item cansys animatable fadeInUp'>
			<img src="stylesheets/Events/cansys.jpg">
			<h4 class='text-center'>Cansys</h4>
			<a class='btn btn-info btn-md know-more'>Know More</a>
			<div class='visible'>Design skills leads to augmentation of visualization and multi-dimension quality check of
			models supported by detailed analysis reports. Designing and analysis of structural and mechanical components
			gives a fair idea of feasibility of dimension and geometry for the optimum operation output of the model. This
			event deals with modeling and simulation of part body in CATIA backed by its analysis using ANSYS.<br>
			<h4>PRIZE WORTH: Rs. 5000/-</h4>
			<h5>Details and Rules of the Event</h5>
			•	Number of students in a team: 2<br>
			•	Teams must bring their own laptops with extension cords. <br>
			<strong>Round 1 </strong>: 2-D sketching in CATIA. <br>
			<strong>Round 2 </strong>: 3-D part modelling in CATIA and analysis of designed model in ANSYS. <br>
			<strong>Round 3</strong> : Assembly in CATIA and analysis in ANSYS. <br>
			<h5>EVENT HEADS</h5>
			<img class='social' src="https://svgshare.com/i/GyJ.svg">
				    <a href="tel:+918252656136">Sourav Saw</a> , <a href="tel:+917000877611">Pratik Singh</a> , 
				    <a href="tel:+917907253006">Ashwin P</a>
			</div>
		</div>
		<div class='item quriosity animatable fadeInUp'>
			<img src="stylesheets/Events/Quriosity.jpg">
			<h4 class='text-center'>Quriosity</h4>
			<a class='btn btn-info btn-md know-more'>Know More</a>
			<div class='visible'>Awareness of engineering facts/figures is must when you endeavour to battle your intellectual 
			might and technical prowess. To all the quiz geeks out there, brace yourself and be ready for your quizzing mettle 
			to be tested. It is time to compete with the finest brains of the institute and enrich your quizzing skills. 
			QURIOSITY provides a platform to explore the charm of science and technology. To come up as a winner, you need 
			to possess noetic and quick thinking.<br>
			<h4>PRIZE WORTH: Rs. 4500/-<br>
			</h4>
			<h5>Details and Rules of the Event</h5>
			•	Number of students in a team: 2<br>
			<strong>Round 1</strong>: Pen and paper based preliminary test.<br>
			<strong>Round 2</strong>: 8 Teams will be selected on-spot from the prelims for the final quiz competition.
			<h5>EVENT HEADS</h5>
			<img class='social' src="https://svgshare.com/i/GyJ.svg">
				    <a href="tel:+919721850142">Yagyesh Tripathi</a> , 
				    <a href="tel:+917376289032">Ayush Mishra</a>
			</div>
		</div>
		<div class='item place_station animatable fadeInUp'>
			<img src="stylesheets/Events/placestation.jpg">
			<h4 class='text-center'>Place Station</h4>
			<a class='btn btn-info btn-md know-more'>Know More</a>
			<div class='visible'>Experience       Learn       Sustain<br>Do you consider yourself an all-rounder? Do you have
			a unique way of accomplishing goals? Do you stand out in a crowd? Come enter this Corporate labyrinth, where one 
			can live and experience the nerve-wracking placement session in a real time dynamic environment with a series 
			of stations comprising of the comprehensive written test, expressive group discussion as you make your way through
			the maze to the final round which is the personal interview. It’s an all round competitive event with a motive to
			guide the students about campus placements and at the same time select the best. So if you think you’ve got what it
			takes to make a mark, then do come and be a part of this grand event.<br>
			<h4>PRIZE WORTH: Rs. 3000/-</h4>
			<h5>Details and Rules of the Event</h5>
			<strong>Round 1</strong>:Written Test involving aptitude, logical reasoning and technicalquestions.<br>
			<strong>Round 2</strong>:Group Discussion on practical and abstract topics (Structured/Unstructured).<br>
			<strong>Round 3</strong>:Personal Interview (Technical and HR).<br>
			<h5>EVENT HEADS</h5>
			<img class='social' src="https://svgshare.com/i/GyJ.svg">
			    <a href="tel:+917209669436">Pranav Prakash</a> , 
			    <a href="tel:+918252966466">Manas Dey</a>
			</div>
		</div>
		<div class='item dictum_symposium animatable fadeInUp'>
			<img src="stylesheets/Events/dictum.jpg">
			<h4 class='text-center'>Dictum Symposium</h4>
			<a class='btn btn-info btn-md know-more'>Know More</a>
			<div class='visible'>Greatest quality of a leader is wisdom of opinion and way of expression.  brings
			you the opportunity to get into the war of words. Buckle up, for this is the event you craved for. Let your larynx
			vibrate and your words echo the whole house. DICTUM SYMPOSIUM brings all of you an experience of speaking as a leader
			and spreading your aura. The event deals with expression of opinion/defending your stand on corporate issues by 
			highlighting its social, economic, environmental and technical impacts.
			<h4>PRIZE WORTH: Rs. 4500/-</h4>
			<h5>Rules and Details of the Event</h5>
			•	Number of students in a team: 2<br>
			<strong>Round 1</strong>: Abstract submission describing your views on one of the prescribed topics.<br>
			<strong>Round 2</strong>: Extempore- Topics will be provided on spot and the team members have to present their views on the same.<br>
			<strong>Round 3</strong>: Debate- Topics will be provided beforehand. 2 teams have to debate with each other with the members of each team speaking alternately.<br>
			<h5>EVENT HEADS</h5>
			<img class='social' src="https://svgshare.com/i/GyJ.svg">
			    <a href="tel:+919825113966">Arjun Goyal</a> , 
			    <a href="tel:+919566137756">Vaibhav Dev</a>
			</div>
		</div>
		
	</div>
<% include partials/footer %>