<% include partials/header %>

<div id='content'>
<img src="stylesheets/guest_lecture.jpg"
		style='max-width:90%; margin:52px auto 0;'>
		<h1 class="text-center display-6">Guests</h1>
		<div class='container'>
		  <div class='previous_guests'>
            <div class="row">
                <div class="col-5">
                  <img style='width:100%;' src='stylesheets/rohit saini.jpg'>
                </div>
                <div style='text-align:left;' class="col-7">
                  <strong>Rohit Saini</strong><br>
                  <em>Plant Manager, Tata Autocomponents Systems Ltd</em>
                  <br>H.O.D. for Heavy Duty Press Shop & Body Shop.
                </div>
             </div>
             <div class="row">
                <div style='text-align:left;' class="col-7">
                  <strong>Manas Mishra</strong><br>
                  <em>GM at Tata Motors Ltd</em>
                  <br>Project Planning & New vehicle Productionization.
                </div>
                <div class="col-5">
                  <img style='width:100%;' src='stylesheets/manasmishra-001.jpg'>
                </div>
             </div>
		</div>
		</div>

<% include partials/footer %>
