<% include partials/header %>
<meta name="theme-color" content="rgb(156,220,255)">
<title>COGNITIO | Home</title>
	<img class='header header-mobile' src='stylesheets/hfinal.jpg'>
	<img class="header header-pc" src="https://scontent-bom1-2.xx.fbcdn.net/v/t1.0-0/p180x540/80802029_1301854553337363_1436148746369892352_o.jpg?_nc_cat=107&_nc_ohc=mXLxAil52aQAQk4CGPAqSRTzb2Yv-uzJzgYslol5Vwrc7Yb9ushopnmIA&_nc_ht=scontent-bom1-2.xx&oh=9f99f16305865172b2c6354d34e5c352&oe=5EAE77AC">
	<% include partials/follow %>
	<div id='content'>
		<a href="https://play.google.com/store/apps/details?id=in.nitjsr.cognitio"><img id='play' src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png">
		</a>
		<h3>ABOUT COGNITIO</h3>
		<p>
		<strong>Cognitio</strong> is the annual fest of Mechanical Engineering Department of National Institute of Technology,
		Jamshedpur which comprises of a plethora of events specifically designed to employ the technical grip
		as well as the soft skills of the budding technocrats.<br>
		Initiated in the session 2017-18, its motive is  simulate innovative solutions to various real time
		problems in industrial sector.<br>
		The  theme  of  COGNITIO' 19-20  is  “<em>Green Technology </em>”,  which incorporates the elements of "<em>Industry 4.0 </em>",
		carrying forward the theme and ideas for the previous editions of Cognitio i.e. Green Technology focusses on
		continually evolving non toxic methods and techniques of generating energy with a special focus on sustainability
		in the long run.
		</p>
		<div class="container">
		  	<!--<div class="row">-->
			  <!--  <div data-aos='fade-up' style="background: url(1.jpg); background-size:cover;" -->
			  <!--  	class="cards col-md">-->
			  <!--    <a class='btn btn-info btn-lg' href='/events'>EVENTS</a>-->
			  <!--  </div>-->
			  <!--  <div data-aos='fade-up' style="background: url(rBVaSFqUD8uAB8xZABgDQmiQXys255.jpg); background-size:cover;" -->
			  <!--  	class="cards col-md">-->
			  <!--    <a class='btn btn-info btn-lg' href='/sponsors'>SPONSORS</a>-->
			  <!--  </div>-->
			  <!--  <div data-aos='fade-up' style="background: url(Flow_ollnzm.jpg); background-size:cover;" -->
			  <!--  	class="cards col-md">-->
			  <!--    <a class='btn btn-info btn-lg' href='/gallery'>GALLERY</a>-->
			  <!--  </div>-->
		  	<!--</div>-->
		  			  	<div class="row">
			    <div data-aos='fade-up' style="background: url(https://images.unsplash.com/photo-1484589065579-248aad0d8b13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1392&q=80); background-size:cover;" 
			    	class="cards col-md">
			      <a class='btn btn-info btn-lg' href='/events'>EVENTS</a>
			    </div>
			    <div data-aos='fade-up' style="background: url(https://images.unsplash.com/photo-1488229297570-58520851e868?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1498&q=80); background-size:cover;" 
			    	class="cards col-md">
			      <a class='btn btn-info btn-lg' href='/sponsors'>SPONSORS</a>
			    </div>
			    <div data-aos='fade-up' style="background: url(https://images.unsplash.com/photo-1555448248-2571daf6344b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80); background-size:cover;" 
			    	class="cards col-md">
			      <a class='btn btn-info btn-lg' href='/gallery'>GALLERY</a>
			    </div>
		  	</div>
		</div>
<% include partials/footer %>	