<% include partials/header %>
<title>COGNITIO | Sponsors</title>
<!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
<style>
@media(max-width:992px)
{
	.white-panel{
	position:static!important; width:80%!important; margin:10px auto;
}}

#demo {
position: relative;
max-width: 100%;
width: 100%;
}
img {
width: 100%;
max-width: 100%;
height: auto;
}
h4{
	margin-top:60px;
	color:#f1f1f1;
}
.white-panel {
	margin-bottom:10px!important;
position: absolute;
background: white;
box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
padding: 10px;
}
.white-panel h1 {
font-size: 1em;
}
.white-panel h1 a {
color: #A92733;
}
.white-panel:hover {
box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
margin-top: -5px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
</style>
<meta name="theme-color" content="#818AC9">
	<img class='header header-mobile' data-aos='fadeup' src="https://i.ytimg.com/vi/vaJXHNe4Tqc/maxresdefault.jpg">
	<img class='header header-pc' data-aos='fade-up' src="http://zphib2020.com/wp-content/uploads/2014/12/sponsors_header.jpg">
		<% include partials/follow %>
	<div id='content'>
		<div class='container' style='margin-bottom:60px;'>
					<h1 class="text-center display-6">Sponsors</h1>
	<div id='demo'>
		<h4 class='text-center' style='margin-top:45px!important;'>Title Sponsor</h4>
		<div data-aos='flip-down' class='white-panel'>
			<img src='stylesheets/sponsors/title.jpg'>
		</div>
		<h4 class='text-center' style='margin-top:45px!important;'>Prime Sponsor</h4>
		<div data-aos='flip-down' class='white-panel'>
			<img src='stylesheets/sponsors/chd.jpg'>
		</div>
		<div data-aos='flip-down' class='white-panel'>
			<img src='stylesheets/sponsors/iesm.jpg'>
		</div>
		<div data-aos='flip-down' class='white-panel'>
			<img src='stylesheets/sponsors/he.jpg'>
		</div>
		<h4 class='text-center' style='margin-top:45px!important;'>Major Sponsor</h4>
		<div data-aos='flip-down' class='white-panel'>
			<img src='stylesheets/sponsors/rsb.jpg'>
		</div>
		<div data-aos='flip-down' class='white-panel'>
			<img src='stylesheets/sponsors/1.jpg'>
		</div>
		<h4 class='text-center'>Associate Sponsor</h4>
			<div data-aos='flip-down' class='white-panel'>
			<img src='stylesheets/sponsors/cl.jpg'>
		</div>
			<div data-aos='flip-down' class='white-panel'>
			<img src='stylesheets/sponsors/bs.jpg'>
		</div>
			<div data-aos='flip-down' class='white-panel'>
			<img src='stylesheets/sponsors/2.jpg'>
		</div>
		<h4 class='text-center'>Knowledge Partner</h4>
			<div data-aos='flip-down' class='white-panel'>
			<img src='stylesheets/sponsors/fiapo.jpg'>
		</div>
		<h4 class='text-center'>Merchandise Partner</h4>
		<div data-aos='flip-down' class='white-panel'>
			<img src='stylesheets/sponsors/dk.jpg'>
		</div>
		<h4 class='text-center'>Souvenir Partner</h4>
		<div data-aos='flip-down' class='white-panel'>
			<img src='stylesheets/sponsors/sk.jpg'>
		</div>
		<h4 class='text-center'>Cafe Partner</h4>
		<div data-aos='flip-down' class='white-panel'>
			<img src='stylesheets/sponsors/barista.jpg'>
		</div>
		<h4 class='text-center'>Food Partner</h4>
		<div data-aos='flip-down' class='white-panel'>
			<img src='stylesheets/sponsors/bt.jpg'>
		</div>
				<h4 class='text-center'>Electronics Partner</h4>
		<div data-aos='flip-down' class='white-panel'>
			<img src='stylesheets/sponsors/ni.jpg'>
		</div>
				<h4 class='text-center'>Salon Partner</h4>
		<div data-aos='flip-down' class='white-panel'>
			<img src='stylesheets/sponsors/as.jpg'>
		</div>
			</div>
	</div><br><br><br><br><br><br><br>
	<% include partials/footer %>
		<script src="scripts/pinterest_grid.js"></script>
	<script>
$(document).ready(function() {
$('#demo').pinterest_grid({
no_columns: 4,
padding_x: 10,
padding_y: 10,
margin_bottom: 50,
single_column_breakpoint: 700
});
});
</script>
