<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Cognitio'20</title>
	<link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="stylesheets/cognitio.css">
</head>
<body  style="font-family: 'Manjari', sans-serif;">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-sm-smart fixed-top">
		<a id='navbar-brand' class="navbar-brand order-1 order-lg-0 my-lg-0 ml-sm-2 mr-auto" href="#"> COGNITIO'20</a>
		  <button id='navbar-toggler' class="navbar-toggler align-self-start" type="button">
		    <div class="container" onclick="myFunction(this)">
			  <div class="bar1"></div>
			  <div class="bar2"></div>
			  <div class="bar3"></div>
			</div>
		  </button>

		  <div class="collapse navbar-collapse d-flex flex-column bg-dark flex-lg-row flex-xl-row justify-content-lg-end p-3 p-lg-0 mt-5 mt-lg-0 mobileMenu" id="navbarSupportedContent">

		    <ul class="navbar-nav align-self-stretch">
		      <li class="nav-item active">
		        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/events">Events</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/guests">Guests</a>
		      </li>
		        <a class="nav-link" href="downloads">Downloads</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/team">Team</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/sponsors">Sponsors</a>
		      </li>
		    </ul>
	  </div>
	</nav>
	<img class='header' src="https://images.unsplash.com/photo-1455165814004-1126a7199f9b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80">
	<div id='content'>
		<a id='play' href="#"><img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"></a>
		<p>
			COGNITIO is the yearly celebration of Mechanical Department
			of NIT Jamshedpur. It was started in the session 2017-
			2018 with a rationale to invigorate creative answers for
			different constant issues in the modern area. Students
			participate in this symposium in different occasions managing
			the implementation of engineering ideas pursued by its
			practicality study, enhancement, documentation and
			correspondence.<br>Additionally, significant talk sessions are led by renowned
			speakers and capable alumni of the organization.<br>The subject of COGNITIO'19
			is industry 4.0. which compares tothe fourth-Generation industrialization. Group cognitio
			advances quality learning and comprehensive development
			making pioneers out of person.
		</p>
		<div class="container">
		  	<div class="row">
			    <div style="background: url(https://csunshinetoday.csun.edu/wp-content/uploads/2013/02/techfestspring.jpg); background-size: cover;" class="cards col-md">
			      <a class='btn btn-info'>EVENTS</a>
			    </div>
			    <div style="background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmgoAEjZNs6-CniyWsflixvWZEqu0DqvlLvWdbq2ZDWVoBuEvE);" class="cards col-md">
			      <a class='btn btn-info'>SPONSORS</a>
			    </div>
			    <div style="background: url(https://www.centralgoldfields.vic.gov.au/files/sharedassets/public/photos/img_3388.jpg?dimension=pageimage&w=480);" class="cards col-md">
			      <a class='btn btn-info'>GALLERY</a>
			    </div>
		  	</div>
		</div>
		<hr>
		<div class="container">
		  	<div class="row">
			    <div class="col-md">
			      Organised By:<br>
			      <h5>Mechanical Engineering Department, N.I.T. Jamshedpur</h5>
			    </div>
			    <div class="col-md">
				    Contact Us:<br>
				    <img class='social' src="https://cdn2.iconfinder.com/data/icons/phone-56/64/29_contact_details_watch_phone_smartphone_ui_interface-512.png">+91-999999999
			    </div>
			    <div class="col-md">
			      Follow us on:
				    <div>
						<img class='social' src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/facebook_circle-512.png">
						<img class='social' src="https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo_instagram-512.png">
						<img class='social' src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/google_circle-512.png">
					</div>
			    </div>
		  	</div>
		</div>			
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script type="text/javascript" src='scripts/script.js'></script>
</body>
</html>